
.FirstLaunch {
    transition: background-color 150ms ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    
    height: 100vh;
    width: 100vw;
    background-color: var(--background);

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    &__logo-container {
        position: absolute; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        width: auto;
    }

    &__router {
        height: 375px;
        width: 500px;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 100px;

        .Appearance {
            .content {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }

            &__button {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1.5rem 1.5rem;
                border-radius: 8px;
                cursor: pointer;
                transition: background-color 150ms ease-in-out;
                background-color: transparent;

                img {
                    width: 125px;
                }
                span {
                    margin-top: 1rem;
                }

                &:hover {
                    background-color: var(--background-contrast);
                }

                &[data-selected="true"] {
                    background-color: var(--background-contrast);
                }

                &:not(:first-of-type) {
                    margin-left: 1rem;
                }
            }
        }

        .title {
            width: 100%;
            text-align: center;
        }
        .content {
            text-align: left;
            height: 100%;
            width: 100%;
        }
    }

    .Buttons {
        width: 100vw;
        height: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: 1.5rem;
        left: 0;


        &__b {
            padding: 1rem 1.5rem;
            border-radius: 8px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: background-color 150ms ease-in-out;
            background-color: transparent;

            &:hover {
                background-color: var(--background-contrast);
            }

            &:not(:first-of-type) {
                margin-left: 1rem;
            }
            &.next {
                svg {
                    transform: rotate(180deg);
                }
            }

            &.disabled {
                pointer-events: none;
                cursor: default;
                opacity: .4;
            }

            svg {
                height: 35px;
                width: 35px;
                margin-bottom: .25rem;
                
                path {
                    transition: fill 150ms ease-in-out;
                    fill: var(--text-color);
                }
            }
        }
    }
}