.Error {
    transition: background-color 150ms ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    
    height: 100vh;
    width: 100vw;
    background-color: var(--background);
    -webkit-app-region: drag;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    img {
        width: auto;
        height: 85px;
    }

    &__title {
        font-size: 1.75rem;
        font-weight: 600;
        margin-top: .5rem;
        margin-bottom: 1.5rem;
    }

    &__textarea {
        margin-top: 2rem;
        user-select: auto;
        text-align: center;
        background-color: var(--background-contrast);
        padding: 1rem 1.5rem;
        width: 500px;
        max-height: 75px;
        overflow: scroll;
        opacity: .6;
        word-break: break-all;
        border-radius: 16px;
        -webkit-app-region: no-drag;
    }

    &__button {
        transition: background-color 150ms ease-in-out;
        background-color: var(--blue);
        color: #eaeaea;
        cursor: pointer;
        margin-top: 2rem;
        padding: .75rem 1.25rem;
        border-radius: 25px;
        &:hover {
            background-color: var(--blue-darken);
        }
        -webkit-app-region: no-drag;
    }

    a {
        color: var(--blue-darken);
        text-decoration: none;
        -webkit-app-region: no-drag;
        user-select: auto;
    }

    span {
        text-align: center;
        width: 400px;
    }
}