@import 'fonts.scss';

div.router {

    --background: #eaeaea;
    --background-contrast: #d8d8d8;
    --background-more-contrast: #c2c2c2;

    --blue: #0a84ff;
    --blue-darken: #0076ee;

    --text-color: #1d1e22;
}

div.router[dark-theme="true"] {

    --background: #1d1e22;
    --background-contrast: #3b3d46;
    --background-more-contrast: #555865;

    --text-color: #eaeaea;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: "Source Sans Pro";
}

div.router {
    transition: color 150ms ease-in-out; 

    height: 100vh;
    width: 100vw;

    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background);
    color: var(--text-color);
    user-select: none;

    overflow: hidden;
}